@page
@model IndexModel
@inject IHttpContextAccessor contxt;
@{
    ViewData["Title"] = "Home page";
}

<div asp-validation-summary="All" class="text-danger"></div>
<div class="text-center">
    <h1 class="display-4">Hi, welcome to home page</h1>
    
</div>
