@page
@model WebApplication3.Pages.LoginModel
@{
	<script src="https://www.google.com/recaptcha/api.js?render=6LddrmApAAAAAO5CL-UwHaOUMGQ7oqFWDGo3-oWs"></script>
	<div class="container mt-5">

		<div class="row justify-content-center align-items-center">
			<div class="col-sm-12 col-md-12 col-lg-4">
				<h1 class="mb-3">Login </h1>

				<form method="post" asp-antiforgery="true">
					<div asp-validation-summary="All" class="text-danger"></div>
					<div class="mb-3">
						<label class="form-label" asp-for="LModel.Email">Email Address</label>
						<input type="Text" asp-for="LModel.Email" class="form-control" />
						<span asp-validaton-for="LModel.Email" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label class="form-label" asp-for="LModel.Password">Password</label>
						<input type="Text" asp-for="LModel.Password" class="form-control" />
						<span asp-validaton-for="LModel.Password" class="text-danger"></span>
					</div>

					
					<div class="mb-3">
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</form>
				<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />
			</div>
		</div>
	</div>
}
