@page
@model WebApplication3.Pages.Errors._400Model
@{
    ViewData["title"] = "Bad Request";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">400</h1>
    <p style="font-size: 50px; ">Bad Request.</p>
    <a class="btn btn-primary" href="javascript:history.back()">Back</a>
</div>
