@page
@model WebApplication3.Pages.Errors.custom403Model
@{
    ViewData["title"] = "Page is forbidden";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">403</h1>
    <p style="font-size: 50px; ">You are not authorised to view this page.</p>
    <a class="btn btn-primary" href="javascript:history.back()">Back</a>
</div>
